* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

button {
  padding: 20px;
  /* background-color: hsl(189, 87%, 57%); */
  color: steelblue;
  border-radius: 20px;
  font-size: 50px;
  text-transform: uppercase;
  cursor: pointer;
}

.blue {
  background-color: aqua;
}

.purple {
  background-color: rgb(207, 134, 204);

}