body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  border: 1px solid rgb(194, 189, 189);
  width: 20vw;
}

.field {
  margin: 20px;
  padding: 10px;
}

.field-label {
  width: 100vh;
}